#root{
     width: 100vw;
}
html,body{
     width: 100%;
     overflow-x: hidden;
     overflow-y: auto;

}
.container {
     width: 100%;
     max-width: 100vw;
   }
:root {
     --primary-white: #ffffff;
     --primary-blue: #2a49ff;
     --secondary-blue: #4055cc;
     --dark-indigo: #1b1b3a;
     --black-shade: #0a0a0a;
   }
.text-blue{
     color: #2a49ff ;
}
.text-indigo, .bg-indigo{
     color: #4055cc ;
}
.text-indigo-dark{
     color: #1b1b3a;
}
.bg-[#010101]{
     background-color: #0a0a0a;
}
.bg-blue{
     background-color: #2a49ff ;
}
.bg-indigo, .bg-indigo{
     background-color:  #4055cc ;
}
.bg-indigo-dark{
     background-color:  #1b1b3a;
}
