#root{
     width: 100vw;
}
html,body{
     width: 100%;
     overflow-x: hidden;
     overflow-y: auto;

}
.bg-gradient-to-t {
  background-image: linear-gradient(to top, rgba(16, 20, 31, 1), rgba(16, 20, 31, 0.5));
}
.container {
     width: 100%;
     max-width: 100vw;
   }
:root {
     --primary-white: #ffffff;
     --primary-blue: #2a49ff;
     --secondary-blue: #4055cc;
     --dark-indigo: #1b1b3a;
     --black-shade: #0a0a0a;
   }
.text-blue{
     color: #2a49ff ;
}
.text-indigo, .bg-indigo{
     color: #4055cc ;
}
.text-indigo-dark{
     color: #1b1b3a;
}
.bg-black{
     background-color: #010101;
}
.bg-blue{
     background-color: #2a49ff ;
}
.bg-indigo, .bg-indigo{
     background-color:  #4055cc ;
}
.bg-indigo-dark{
     background-color:  #1b1b3a;
}
