@import "tailwindcss";

/* In index.css */
.section-container {
  @apply py-16 md:py-24 px-4 sm:px-6 md:px-8 lg:px-16;
}

/* custom colored scrollbar */
.scrollbar-colored {
  scrollbar-width: thin;
  scrollbar-color: #0f172a #020616; /* thumb | track */
}

/* Chrome / Edge / Safari */
.scrollbar-colored::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-colored::-webkit-scrollbar-track {
  background: #4B2E2E; /* light red */
  border-radius: 10px;
}

.scrollbar-colored::-webkit-scrollbar-thumb {
  background-color: #A32412; /* red-600 */
  border-radius: 10px;
  border: 2px solid #4B2E2E;
}

.scrollbar-colored::-webkit-scrollbar-thumb:hover {
  background-color: #A32412; /* red-700 */
}